.phase-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 1rem;
  margin: 1rem;
}

.phase-container div {
  transition: background-color 0.5s ease-in-out;
  padding: 1rem;
  margin: 1rem;
}

progress {
  width: 90%;
  height: 130px;
}

.active {
  background-color: #00a316;
  border-radius: 15px;
  transition: background-color 0.5s ease-in-out;
}

.flags {
  padding: 1rem;
  margin: 1rem;
  position: absolute;
  top: 10px;
  right: 10px;
}

.flags img {
  height: 25px;
  margin-right: 1em;
}

.clock {
  text-align: center;
  font-size: 2em;
}

.clock-out {
  
  margin: auto;
  border: solid;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  background: black;
}

.clock {
  border: dotted 19px;
  width: 100px;
  margin: auto;
  border-radius: 100%;
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
}

.btn-container button {
  color: #ffffff;
  margin: 1rem;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 800;
}

.btn-start {
  background-color: #00a316;
  border-radius: 40px;
}

.btn-stop {
  background-color: #a30000;
}

footer {
  font-size: 10pt;
  text-align: center;
  margin: auto;
  position: absolute;
  bottom: 0;
  right: 10%;
  left: 10%;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}